<div class="container">
	<div class="row">
		<h3>配送先登録/一覧</h3>
	</div>

	<div class="row">
	 <%= form_for(@shipaddress_new) do |f| %>
		<%= f.label :"郵便番号" %>
		<%= f.text_field :post_code %><br>
		<%= f.label :"住所" %>
		<%= f.text_field :address %><br>
		<%= f.label :"宛名" %>
		<%= f.text_field :last_name %>
		<%= f.text_field :first_name %>
		<%= f.submit "登録する", class: "btn btn-primary" %>
	<% end %>
    </div>

</div>

