<div class="container my-5">
  <div class="row">
    <div class="offset-1">
      <h2 class="red-border px-3">パスワード変更</h2>
    </div>
  </div>

  <div class="row my-3">
    <div class="offset-4 col-4">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

<!-- 新しいパスワード入力 -->
        <div class="form-group">
          <%= f.label :新しいパスワードを入力, class: "brown-border px-3" %>
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "", class: "form-control offset-1 col-10" %>
        </div>

<!-- 新しいパスワード確認 -->
        <div class="form-group">
          <%= f.label :もう一度入力してください, class: "brown-border px-3" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "", class: "form-control offset-1 col-10" %>
        </div>

        <div class="form-group mt-5">
          <%= f.label :現在のパスワードを入力, class: "brown-border px-3" %>
          <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "", class: "form-control offset-1 col-10" %>
        </div>

        <div class="row">
          <%= f.submit "パスワードを変更する", class: "btn btn-danger mx-auto mt-3" %>
        </div>
      <% end %>
    </div>
  </div>

<%= link_to "もどる", :back, class: "btn btn-outline-danger" %>
