<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <!-- 漢字カナ名前入力フォーム -->
  <div class="field">
    <div class="last_name">
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name, placeholder:"例）長野" %><br />
      <%= f.text_field :last_name_kana, placeholder:"例）ナガノ" %>
    </div>
    <div class="first_name">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name, placeholder:"例）恵子" %><br />
      <%= f.text_field :first_name_kana, placeholder:"例）ケイコ" %>
    </div>
  </div>
  <!-- 郵便番号入力フォーム -->
  <div class="field">
    <%= f.label :post_code %><br />
    <%= f.text_field :post_code %>
  </div>
  <!-- 住所入力フォーム -->
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <!-- 電話番号入力フォーム -->
  <div class="field">
    <%= f.label :phone_number %><br />
    <%= f.text_field :phone_number %>
  </div>
  <!--email入力フォーム -->
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  <!-- password入力フォーム -->
  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>
  <!-- password確認フォーム -->
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
  <!-- Sign upボタン -->
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "customers/shared/links" %>
