<div class="container my-5">
  <div class="row">
    <h2>商品一覧画面</h2>
  </div>
  <div class="row text-right">
    <%= link_to "+", new_admin_item_path, class: "btn btn-lg rounded-circle text-right ml-auto shadow-sm" %>
  </div>

  <div class="row mt-1">
    <table class="table table-hover text-center">
      <thead>
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜き価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </tr>
      </thead>

      <tbody>
        <% @items.each do |item| %>
          <tr>
            <td><%= item.id %></td>
            <td><%= link_to item.name, admin_item_path(item) %></td>
            <td><%= item.price %></td>
            <td><%= item.genre.name %></td>
            <td><%= item.sale_status %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>