<div class="container">
  <div class="row mt-5">
    <h2>商品 新規登録画面</h2>
  </div>

  <%= form_for(@item, url: admin_items_path) do |f| %>

    <div class="row mt-5">
      <div class="col-sm-4">
        <%= f.label :商品画像 %>
        <%= f.attachment_field :image %>
      </div>

      <div class="col-sm-5">
        <div class="form-group">
          <%= f.label :商品名 %>
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :商品説明 %>
          <%= f.text_area :description, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :ジャンル %>
          <%= f.collection_select :genre_id, Genre.all, :id, :name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :税抜き価格 %>
          <%= f.text_field :price, class: "form-control" %>
          <p>円</p>
        </div>

        <div class="form-group">
          <%= f.label :販売ステータス %>
          <%= f.select :sale_status, [["販売可", "販売可"], ["販売不可","販売不可"]], class: "form-control" %>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="offset-sm-9 col-sm-2">
        <%= f.submit :新規登録 %>
      </div>
    </div>

  <% end %>

</div>