<div class="container my-5">

  <div class="row">
    <h2>ジャンル追加・一覧</h2>
  </div>

  <div class="row mt-5">
    <div class="offset-sm-1 col-sm-4">

      <div class="form-wrap border rounded p-5 text-center">
        <p class="font-weight-bold">新規ジャンル登録</p>

      <%= form_for(@genre, url: admin_genres_path) do |f| %>
        <div class="form-group">
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="form-check">
          <%= f.radio_button :is_enabled, :true %>
          <%= f.label :is_enabled, "有効" %>
          <%= f.radio_button :is_enabled, :false %>
          <%= f.label :is_enabled, "無効" %>
        </div>

        <%= f.submit "追加", class: "btn btn-primary mt-3" %>
      <% end %>
    </div>
    </div>

    <div class="offset-sm-1 col-sm-5">
      <table class="table table-hover text-center">
        <thead>
          <tr>
            <th>ジャンル</th>
            <th>ステータス</th>
            <th colspan="1"></th>
          </tr>
        </thead>

        <tbody>
          <% @genres.each do |genre| %>
            <tr>
              <td><%= genre.name %></td>
              <td>
                <% if genre.is_enabled == true %>
                  有効
                <% else %>
                  無効
                <% end %>
              </td>
              <td><%= link_to "編集する", edit_admin_genre_path(genre), class: "btn btn-primary btn-sm" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>

