<div class="container">
  <div class="row mt-5">
    <h2>ジャンル追加・一覧</h2>
  </div>

  <div class="row mt-5">
    <div class="offset-sm-1 col-sm-3">

      <%= form_for(@genre, url: admin_genres_path ) do |f| %>
        <div class="form-group">
          <%= f.label :ジャンル %>
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="form-check">
          <%= f.radio_button :is_enabled, :true %>
          <%= f.label :is_enabled, "有効" %>
          <%= f.radio_button :is_enabled, :false %>
          <%= f.label :is_enabled, "無効" %>
        </div>

        <%= f.submit "追加" %>
      <% end %>
    </div>

    <div class="offset-sm-1 col-sm-4">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>ジャンル</th>
            <th>状態</th>
            <th colspan="1"></th>
          </tr>
        </thead>

        <tbody>
          <% @genres.each do |genre| %>
            <tr>
              <td><%= genre.name %></td>
              <td><%= genre.is_enabled %></td>
              <td><%= link_to "編集する", edit_admin_genre_path %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>

