<div class="container">
  <div class="row">
    <h2>登録情報編集</h2>
    <%= link_to "退会する" , withdrow_customer_path(@customer), class: "btn btn-danger" %>
  </div>
  <%= form_for(@customer) do |f| %>
  <table class="table">
    <tbody>
      <tr>
        <td>氏名</td>
        <td>
          <div class="form-row">
            <%= f.text_field :last_name, class: "form-control col-4"%>
            <%= f.text_field :first_name, class: "form-control col-4"%>
          </div>
        </td>
      </tr>
      <tr>
        <td>カナ</td>
        <td>
          <div class="form-row">
            <%= f.text_field :last_name_kana, class: "form-control col-4"%>
            <%= f.text_field :first_name_kana, class: "form-control col-4"%>
          </div>
        </td>
      </tr>
      <tr>
        <td>郵便番号</td>
        <td>
          <div class="form-row">
            <%= f.text_field :post_code, class: "form-control col-2"%>
          </div>
        </td>
      </tr>
      <tr>
        <td>住所</td>
        <td>
          <div class="form-row">
            <%= f.text_field :address, class: "form-control col-8"%>
          </div>
        </td>
      </tr>
      <tr>
        <td>電話番号</td>
        <td>
          <div class="form-row">
            <%= f.text_field :phone_number, class: "form-control col-8"%>
          </div>
        </td>
      </tr>
      <tr>
        <td>メールアドレス</td>
        <td>
          <div class="form-row">
            <%= f.email_field :email, class: "form-control col-8"%>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <%= f.submit "編集内容を保存する", class:"btn btn-primary col-md-3" %>
  <% end %>
</div>
