<div class="container">

<h2>マイページ</h2>

	<div class="row">
	  <table>
	   <tr>
	  	<th>登録情報</th>
	    <td><%= link_to "編集する", edit_customer_path(@customer), class: "btn btn-primary" %></td>
	    <td><%= link_to "パスワードを変更する", edit_customer_registration_path, class: "btn btn-primary" %></td>
	   </tr>
	  </table>
	</div>


	<div class="row">
	    <table class="table table-bordered">
	       <tr>
	    	<td>氏名</td>
	    	<td><%= @customer.last_name %>
	    		<%= @customer.first_name %></td>
	       </tr>
	       <tr>
	    	<td>フリガナ</td>
	    	<td><%= @customer.last_name_kana %>
	    		<%= @customer.first_name_kana %></td>
	       </tr>
	       <tr>
	    	<td>郵便番号</td>
	    	<td><%= @customer.post_code %></td>
	       </tr>
	       <tr>
	    	<td>住所</td>
	    	<td><%= @customer.address %></td>
	       </tr>
	       <tr>
	    	<td>電話番号</td>
	    	<td><%= @customer.phone_number %></td>
	       </tr>
	       <tr>
	    	<td>メールアドレス</td>
	        <td><%= @customer.email %></td>
	       </tr>
	     </table>
	</div>

	<div class="row">
		<table>
		 <tr>
		  <th>配送先</th>
		  <td><%= link_to "一覧を見る", ship_addresses_path, class: "btn btn-primary" %></td>
		 </tr>
		 <tr>
		  <th>注文履歴</th>
		  <td><%= link_to "一覧を見る", orders_path, class: "btn btn-primary" %></td>
		 </tr>
		</table>
	</div>
</div>
