<h2>注文情報確認</h2>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">商品名</th>
            <th scope="col">単価(税込)</th>
            <th scope="col">数量</th>
            <th scope="col">小計</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
          <% order.order_details.each do |f| %>
          <tr>
            <td>
              <%= image_tag 'sample_image1.jpg', :size => '60x60'%><%= f.item_name %>
            </td>
            <td>
              <%= (f.item_price * 1.1).floor %>
            </td>
            <td>
              <%= f.quantity %>
            </td>
            <td>
              <%= (f.item_price * 1.1).floor * f.quantity %>
            </td>
          </tr>
          <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <table class="table">
        <tbody>

          <tr>
            <td>送料</td>
            <%# binding.pry %>
            <td><%= @order.carriage %></td>
          </tr>
          <tr>
            <td>商品合計</td>
            <td><%= (@order.order_details.sum(:item_price) * 1.1).floor %></td>
          </tr>

          <tr>
            <td>請求金額</td>
            <td><%= (@order.order_details.sum(:item_price) * 1.1).floor + @order.carriage %></td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <h5>支払い方法</h5><br>
    <%= session[:order]["payment"] %>

  </div>
  <div class="row">
    <h5>お届け先</h5><br>
    <%= session[:order]["address"] %>
  </div>
</div>
