<h2>注文情報確認</h2>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">商品名</th>
            <th scope="col">単価(税込)</th>
            <th scope="col">数量</th>
            <th scope="col">小計</th>
          </tr>
        </thead>
        <tbody>
          <% current_customer.cart_items.each do |cart| %>
          <tr>
            <td>
              <%= attachment_image_tag cart.item, :image, :size => '100x100',fallback: "no_image.jpg" %><%= cart.item.name %>
            </td>
            <td>
              <%= (cart.item.price * 1.1).floor %>
            </td>
            <td>
              <%= cart.quantity %>
            </td>
            <td>
              <%= (cart.item.price * 1.1).floor * cart.quantity %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <table class="table">
        <tbody>

          <tr>
            <td>送料</td>
            <td>800</td>
          </tr>
          <tr>
            <td>商品合計</td>

            <td><%= @total_price %></td>
          </tr>

          <tr>
            <td>請求金額</td>
            <td><%= @total_price + 800 %></td>
          </tr>


        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <h5>支払い方法</h5><br>
    <%= session[:payment] %>

  </div>
  <div class="row">
    <h5>お届け先</h5><br>
    <!-- うけとった文字列が１０けたより少なければ -->
    <% if  session[:address].length <10 %>
    <%= "〒" + @address.post_code + "  " + @address.address + "  " + @address.last_name + @address.first_name %>

    <!-- 受け取った文字列がそれ以外なら -->
    <% else %>
    <%= session[:address] %>
    <% end %>
  </div>
  <div class="row">
    <%=link_to "購入を確定する", orders_create_order_path %>
  </div>
</div>
