<div class="container">
  <div class="row">
    <h2>注文履歴一覧</h2>
  </div>
  <div class="row">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">注文日</th>
          <th scope="col">配送先</th>
          <th scope="col">注文商品</th>
          <th scope="col">支払金額</th>
          <th scope="col">ステータス</th>
          <th scope="col">注文詳細</th>
        </tr>
      </thead>
      <% @orders.each do |order| %>
      <tbody>
        <tr>
          <td><%= order.created_at %></td>
          <% if order.address.length <10 %>
          <% ship_address = ShipAddress.find(order.address) %>
          <td><%= "〒" + ship_address.post_code + "  " + ship_address.address + "  " + ship_address.last_name + ship_address.first_name %></td>
          <% else %>
          <td><%= order.address %></td>
          <% end %>
          <td>
            <% order.order_details.each do |f| %>
            <%= f.item_name %><br>
            <% end %>
          </td>
          <td><%= order.total_price %></td>
          <td><%= order.order_status %></td>
          <td><%=link_to "表示する", order_path(order) %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
</div>
