<div class="container">
  <h2>購入情報入力</h2>
  <%= form_for(@order) do |form| %>
  <h4>支払い方法</h4>
  <%= form.radio_button :payment, :"0" %>
  <%= form.label :payment, "クレジットカード", {value: :"0", style: "display: inline-block;"} %><br>
  <%= form.radio_button :payment, :"1" %>
  <%= form.label :payment, "銀行振り込み", {value: :"1", style: "display: inline-block;"} %><br>

  <h4>お届け先</h4>
  <%= form.radio_button :address, :value => current_customer.post_code+current_customer.address %>
  <%= form.label :address, "ご自身の住所", {value: :"", style: "display: inline-block;"} %>
  <%= current_customer.post_code+current_customer.address %>
  <p>
    <%= form.radio_button :address, :"" %>
    <%= form.label :address, "登録済住所から選択", {value: :"", style: "display: inline-block;"} %>
    <%= form.select :address, @ships , {include_blank: '選択ボックス'} %>
  </p>

  <%= form.radio_button :address, :"" %>
  <%= form.label :address, "新しいお届け先", {value: :"", style: "display: inline-block;"} %>
  <%= form.submit "確認画面へ進む", class:"btn btn-primary" %>
<% end %>
</div>
