<div class="container">
  <h2>購入情報入力</h2>
  <h4>新しい配送先登録フォーム</h4>
  <%= form_for(@ship_address, url:orders_create_ship_address_path) do |f| %>

    <h6>郵便番号</h6>
    <%= f.text_field :post_code, class:"col-md-2" %>

    <h6>住所</h6>
    <%= f.text_field :address, class:"col-md-6" %>
    <h6>お名前</h6>
    <%= f.label :'姓 last name' %>
    <%= f.label :'名 first name' %><br>
    <%= f.text_field :last_name, placeholder:"例）長野" %>
    <%= f.text_field :first_name, placeholder:"例）恵子" %><br />
    <%= f.submit '新規登録', class:"btn btn-primary" %>

<% end %>
  <%= form_for(@order) do |form| %>
  <h4>支払い方法</h4>
  <%= form.radio_button :payment, :クレジットカード %>
  <%= form.label :payment, "クレジットカード", {value: :"クレジットカード", style: "display: inline-block;"} %><br>
  <%= form.radio_button :payment, :銀行振込 %>
  <%= form.label :payment, "銀行振込", {value: :"銀行振込", style: "display: inline-block;"} %><br>

  <h4>お届け先</h4>
  <% address = current_customer.post_code+current_customer.address+current_customer.last_name+current_customer.first_name %>
  <%= form.radio_button :carriage, :my_address %>
  <%= form.label :carriage, "ご自身の住所", {value: :my_address, style: "display: inline-block;"} %>
  <%= address %>
  <%# carriageは使わない方がいい %>
  <p>
    <%= form.radio_button :carriage, :select_address %>
    <%= form.select :address, @ships , {include_blank: '配送先を選択'} %>
  </p>
  <%= form.submit "確認画面へ進む", class:"btn btn-primary" %>
<% end %>
</div>
