
<div class="container">
  <div class="row d-flex align-items-center cart">
    <div class="col-md-4">
      <h2>ショッピングカート</h2>
    </div>
    <div class=" offset-md-6 col-md-2">
      <%= link_to "カートを空にする", cart_items_path, method: :delete, class: "btn btn-danger" %>
    </div>
  </div>
  <div class="row">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">商品名</th>
          <th scope="col">単価(税込)</th>
          <th scope="col">数量</th>
          <th colspan="2">小計</th>

        </tr>
      </thead>
       <% @cart_items.each do |cart_item| %>
      <tbody>
        <tr>
          <td><%= cart_item.item.name %></td>
          <td><%= (cart_item.item.price * 1.1).floor %></td>
          <%= form_for(cart_item) do |f| %>
          <td>
            <%= f.number_field :quantity, min:1 %>
            <%= f.submit "変更", class:"btn btn-primary" %>
          </td>
          <% end %>
          <td><%= (cart_item.item.price * 1.1).floor * cart_item.quantity %></td>
          <td><%= link_to "削除する", cart_item_path(cart_item), method: :delete, class: "btn btn-danger" %></td>
        </tr>
      </tbody>
     <% end %>
    </table>
  </div>
  <div class="d-flex justify-content-between">
    <%= link_to "買い物を続ける", root_path, class: "btn btn-primary" %>
    <div>
      <table class ="table">
        <tbody>
          <tr>
            <td>合計金額</td>
            <td><%= @total_price %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <%= link_to "情報入力に進む", new_order_path, class: "btn btn-primary" %>
</div>
