<h1>ショッピングカート</h1>

<div class="container">
  <div class="row">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">商品名</th>
          <th scope="col">単価(税込)</th>
          <th scope="col">数量</th>
          <th scope="col"></th>
        </tr>
      </thead>
       <% @cart_items.each do |cart_item| %>
      <tbody>
        <tr>
          <td><%= cart_item.item.name %></td>
          <td><%= cart_item.item.price %></td>
          <%= form_for(cart_item) do |f| %>
          <td>
            <%= f.number_field :quantity, min:1 %>
            <%= f.submit "変更", class:"btn btn-primary" %>
          </td>
          <% end %>
          <td></td>
          <td><%= link_to "削除する", cart_items_path(@item), method: :delete, class: "btn btn-default" %></td>
        </tr>
      </tbody>
     <% end %>
    </table>
  </div>
</div>
