<!-- <div class="genre box"> -->
<div class="container">
 <div class="row">
  <div class="col-3 col-offset-1 mt-4">
   <table frame="box">
	 <tr>
	  <th>ジャンル検索</th>
	 </tr>
	<% @genres.each do |genre| %>
	 <tr>
	   <td>link_to genre.name, "#" </td>
	 </tr>
	 <% end %>
	 <!-- サンプル表示 -->
	 <tr>
	 <td>ケーキ</td>
	 </tr>
	  <tr>
	 <td>焼き菓子</td>
	 </tr>
	 <tr>
	 <td>プリン</td>
	</tr>
	 <tr>
	 <td>キャンディ</td>
	</tr>
	<!-- サンプル表示 -->
  </table>
</div>
	<div class="col-8 my-3">
	<h2>ケーキ</h2><!--動的ジャンル名設定する-->
	 <div class="row">
	  <div class="col-lg-3 mb-4">
	    <div class="card">
	      <% @items.each do |item| %>
	      <%= link to item_path(item) do %>
	      <%= attachment_image_tag item, :image, class: 'card-img-top' %>
	      <% end %>
	        <div class="card-body">
	        <h5 class="card-title"><%= item.name %></h5>
	        <p class="card-price"><%= item.price %></p>
	      </div>
	    </div>
	  <% end %>
       <!--サンプル表示  -->
	      <%= image_tag 'cookie_sample.jpg', class: 'card-img-top' %>
	      <div class="card-body">
	        <h5 class="card-title">クッキー</h5>
	        <p class="card-price">プライス</p>
	      </div>
	    </div>
	  </div>
	  <div class="col-lg-3 mb-4">
	  <div class="card">
	      <%= image_tag 'cookie_sample.jpg', class: 'card-img-top' %>
	      <div class="card-body">
	        <h5 class="card-title">クッキー</h5>
	        <p class="card-price">プライス</p>
	      </div>
	    </div>
	  </div>
	  <div class="col-lg-3 mb-4">
	  <div class="card">
	     <%= image_tag 'cookie_sample.jpg', class: 'card-img-top' %>
	      <div class="card-body">
	        <h5 class="card-title">クッキー</h5>
	        <p class="card-price">プライス</p>
	      </div>
	    </div>
	  </div>
	  <div class="col-lg-3 mb-4">
	  <div class="card">
	      <%= image_tag 'cookie_sample.jpg', class: 'card-img-top' %>
	      <div class="card-body">
	        <h5 class="card-title">クッキー</h5>
	        <p class="card-price">プライス</p>
	      </div>
	    </div>
	  </div>
	  	  <div class="col-lg-3 mb-4">
	  <div class="card">
	      <%= image_tag 'cookie_sample.jpg', class: 'card-img-top' %>
	      <div class="card-body">
	        <h5 class="card-title">クッキー</h5>
	        <p class="card-price">プライス</p>
	      </div>
	    </div>
	  </div>
	  <div class="col-lg-3 mb-4">
	  <div class="card">
	     <%= image_tag 'cookie_sample.jpg', class: 'card-img-top' %>
	      <div class="card-body">
	        <h5 class="card-title">クッキー</h5>
	        <p class="card-price">プライス</p>
	      </div>
	    </div>
	  </div>
	  <div class="col-lg-3 mb-4">
	  <div class="card">
	      <%= image_tag 'cookie_sample.jpg', class: 'card-img-top' %>
	      <div class="card-body">
	        <h5 class="card-title">クッキー</h5>
	        <p class="card-price">プライス</p>
	      </div>
	    </div>
	  </div>
	<!--サンプル表示  -->
   </div>
  </div>
 </div>
  	<!-- ページネーション -->
  <div class="container">
	<div class="row">
	 <div class="col-md-4 offset-md-4 py-2">
	 <nav aria-label="Page navigation">
	  <ul class="pagination">
	    <li class="page-item"><a class="page-link" href="#">Prev</a></li>
	    <li class="page-item"><a class="page-link" href="#">1</a></li>
	    <li class="page-item"><a class="page-link" href="#">2</a></li>
	    <li class="page-item"><a class="page-link" href="#">3</a></li>
	    <li class="page-item"><a class="page-link" href="#">Next</a></li>
	  </ul>
	 </nav>
	 </div>
	</div>
 </div>
 	<!-- ページネーション -->
</div>


