<!-- <div class="genre box"> -->
<div class="container">
 <div class="row">
      <div class="col-3 mt-4">
      <%= render 'genrebox', genres: @genres %>
      </div>
      
	<div class="col-9 my-3">
       <h2><% if params[:genre_id] %>
        <%= @genre.name %><!--動的ジャンル名-->
       <% else %>
        全ての商品
       <% end %></h2>
    
	   <p><% if params[:genre_id] %>
	    全<%= @items.order(created_at: :desc).where(sale_status: "販売可").count %>件
	   <% else %>
		全<%= Item.where(sale_status: "販売可").count %>件
       <% end %></p>
	<!-- 動的ジャンル登録アイテム数設定する-->
	    <div class="row">
	    	<% @items.each do |item| %>
	    	 <div class="col-md-3"> <!--ひとつのブロックをラップしてカラムを指定する-->
		        <%= link_to item_path(item) do %><!--それをeach文で回す-->
		        <%= attachment_image_tag item, :image, :fill, 160, 160, format: 'jpeg', fallback: "noimage.jpg", class: 'card-img-top' %>
		        <% end %>
		        <p class="text-muted"><%= item.genre.name %>
		        <h6 class="card-title"><%= item.name %></h6>
		        <p class="card-price"><%= item.price %></p>
		     </div>
	        <% end %>
	    </div>
   </div>
  </div>





  	<!-- ページネーション -->
  <div class="container">
	<div class="row">
	 <div class="col-md-4 offset-md-4 py-2">
	 	<%= paginate @items, class: "Page navigation" %>
	 <!-- <nav aria-label="Page navigation">
	  <ul class="pagination">
	    <li class="page-item"><a class="page-link" href="#">Prev</a></li>
	    <li class="page-item"><a class="page-link" href="#">1</a></li>
	    <li class="page-item"><a class="page-link" href="#">2</a></li>
	    <li class="page-item"><a class="page-link" href="#">3</a></li>
	    <li class="page-item"><a class="page-link" href="#">Next</a></li>
	  </ul>
	 </nav> -->
	 </div>
	</div>
 </div>
 	<!-- ページネーション -->
</div>


