<div class="container">
 <div class="row">
      <div class="col-3 col-offset-1 mt-4">
      <%= render 'genrebox', genres: @genres %> <!--ジャンル検索-->
      </div>

   <div class="col-8 my-3">
    <div class="item-box">
  	 <div class="row">
	    <div class="col-5 mb-4">
	  <!--サンプル表示  -->
	     <%= attachment_image_tag @item, :image, :fill, 100, 100, format: "jpeg", fallback: 'noimage.jpg', size: '300x300' %>
	    </div>
	   <div class="col-7 mb-4"> <!--item spec box-->
	    <div class="card-body">
            <h4 class="card-title"><%= @item.name %></h4>
            <p class="card-text"><%= @item.description %></p>
            <h4 class="card-price"><%= @item.price %><span>(税込)</span></h4>

            <div class="row">
              <%= form_for (@cart_item) do |f| %>
              <%= f.number_field :quantity, min:1, placeholder: "個数選択" %><span>個</span>

              <%= f.hidden_field :item_id, :value => @item.id %>
      　　　　　<%= f.submit "カートに入れる", class: "btn btn-primary" %>
    　　　　　　<% end %>
        	　</div>
      </div>


	    </div>
	  </div>
    </div>
   </div>
</div>
</div>
</div>