<div class="container my-5">

  <div class="row">
    <div class="offset-2">
      <strong class="red-border px-3 pb-1">会員の方はこちらからログイン</strong>
    </div>
  </div>

  <div class="row">
    <div class="offset-3 col-6">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-goup mt-5">
          <%= f.label :メールアドレス, class: "brown-border px-3 pb-1" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control offset-1 col-10" %>
        </div>

        <div class="form-goup mt-5">
          <%= f.label :パスワード, class: "brown-border px-3 pb-1" %>
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control offset-1 col-10" %>
        </div>

        <div class="row mt-1">
          <%= link_to "→ パスワードをお忘れの方はこちら", new_password_path(resource_name), class: "ml-auto" %>
        </div>

        <div class="offset-sm-2 col-sm-8">
          <%= f.submit "Log in", class: "btn btn-outline-danger btn-block mt-3" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="offset-2 mt-5">
      <strong class="red-border px-3 pb-1">登録がお済みでない方</strong>
    </div>
  </div>

  <div class="row">
    <div class="offset-sm-4 mx-auto mt-3">
      <%= link_to "こちらから新規登録を行ってください。", new_registration_path(resource_name), class: "btn btn-outline-danger" %>
    </div>
  </div>
</div>



  </div>
</div>
