<nav class="navbar navbar-expand navbar-dark navbar-fixed-top", style="background-color: #432c28;">
  <div class="container">
    <div class="row">
      <%= link_to "ながのcake管理者サイト", admin_root_path, class: "navbar-brand" %>

      <% if admin_signed_in? %>
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to "商品一覧", admin_items_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "会員一覧", admin_customer_datas_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "注文履歴一覧", admin_orders_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "ジャンル一覧", admin_genres_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link" %>
          </li>
        </ul>

        <form class="form-inline">
          <input class="form-control-sm mr-sm-2" type="search" placeholder="検索...機能しないけど..." aria-label="検索...">
          <button type="submit" class="btn btn-outline-light btn-sm my-2 my-sm-0">検索</button>
        </form>
      <% end %>

    </div>
  </div>
</nav>