<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'  %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header"><!-- header -->
    　<nav class="navbar navbar-dark bg-dark navbar-fixed-top">
     　<div class="container">
         <div class="navbar-header">
           <p class="navbar-brand">ながのCAKE</p>
         </div>
       <!-- 会員ログアウト時 -->

      <ul class="navbar-right list-inline">
        <li class="welcome-guest list-inline-item text-white">ようこそゲストさん</li>
        <li class="list-inline-item">
          <%= link_to new_customer_registration_path do %>会員登録<% end %>
        </li>
        <li class="list-inline-item">
          <%= link_to new_customer_session_path do %>ログイン<% end %>
        </li>
        <li class="list-inline-item">
          <%= link_to items_path do %>商品一覧<% end %>
        </li>
        <li class="list-inline-item">
          <%= link_to '#' do %>店舗情報<% end %>
        </li>
        <%= link_to destroy_customer_session_path, method: :delete do %>ログアウト<% end %>

　　　　<!-- 会員ログイン時 -->

<!--       <li class="welcome-guest list-inline-item text-white">ようこそ会員名さん</li>
      <ul class="navbar-right list-inline">
        <li class="list-inline-item">
          <%= link_to '#' do %>マイページ<% end %>
        </li>
        <li class="list-inline-item">
          <%= link_to destroy_customer_session_path, method: :delete do %>ログアウト<% end %>
        </li>
        <li class="list-inline-item">
          <%= link_to items_path do %>商品一覧<% end %>
        </li>
        <li class="list-inline-item">
          <%= link_to '#' do %>カート<% end %>
        </li>

      </ul> -->
    </div>
  </nav>
   </header><!-- /header -->


    <%= yield %>


   <footer class="footer bg-dark text-white">
    <div class="container">
     <div class="row">
      <div class="col-3">
       <p class="navbar-brand">ながのCAKE</p>
      </div>
     <div class="col-8">
     <p>copyright ©ながのCAKE.all rights reserved.</p>
    </div>
  </div>
</div>
   </footer>


  </body>
</html>
