<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'  %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <%= render 'layouts/customers_header' %>
    </header>

<div id="wrapper">
    <%= yield %>


   <footer class="footer bg-dark text-white">
    <div class="container">
     <div class="row">
      <div class="col-3">
       <p class="navbar-brand">ながのCAKE</p>
      </div>
     <div class="col-8">
     <p>copyright ©ながのCAKE.all rights reserved.</p>
    </div>
  </div>
</div>
   </footer>
</div>

  </body>
</html>
